//========================== Variables ==========================
/*========================== General Styles ==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  max-height: 100vh;
}

/*========================== Grids ==========================*/
main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 24.5vh 24.5vh 24.5vh 24.5vh 2vh;
  // grid-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  div {
    margin: 1.5rem;
    border: 1px solid black;
    padding: 10px;

    &:first-of-type {
      grid-row: 1 / 3;
      grid-column: 2 / 4;
    }

    &:nth-of-type(2) {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    &:nth-of-type(3) {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }

    &:nth-of-type(4) {
      grid-row: 1 / 4;
      grid-column: 4 / 5;
    }

    &:nth-of-type(5) {
      grid-row: 4 / 5;
      grid-column: 3 / 5;
    }

    &:nth-of-type(6) {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }

    &:nth-of-type(7) {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    &:nth-of-type(8) {
      grid-row: 3 / 5;
      grid-column: 1 / 2;
    }
  }
}

/*========================== Footer ==========================*/
footer {
  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}